@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
header {
  width: 100%;
  height: 130px;
  display: flex;
  gap: 15px;
  .logo, .about {
    background-color: #0860C4;
    color: #fff;
    flex: 1;
    font-family: 'Italianno', cursive;
    font-size: 5em;
    padding: 20px;
    text-align: center;
    span {
      font-family: 'Open Sans', sans-serif;
      font-size: .3em;
      display: block;
      margin-top: -40px;
    }
  }
  .about {
    flex: 1;
    border-bottom: 12px solid #0860C4;
    background-color: #fff;
    color: #0860C4;
    text-align: right;
    span {
      font-size: .2em;
      margin-top: -30px;
      color: #000;
      text-transform: uppercase;
    }
  }
}
